.header{
background: #369;
  width: 100%;
  height: 100px;
}
.logo img{
    float: left;
    margin-left: 10px;
}
.tagline{
    position: relative;
    bottom:115px;
    float:right;
    font-size: 50px;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
}
.main{
    padding-bottom: 100px;
    
  }
  html,
  body {
    height: 100%;
  }
p{
    font-family: sans-serif;
    font-style: italic;
  }
#wrap{
    min-height: 100%;
    
}
.footer{
    background: #369;
    margin-top: -100px;
    /*Минус Высота футера*/
    height: 100px;
}
